doctype html
html(lang='tr')
  head
    title Express
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    script!='window.defaults = ' + JSON.stringify(defaults) + ';'
    link(rel="stylesheet", href=defaults.NODE_ENV == 'development' ? 'http://localhost:1235/App.css' : '/App.css')
  body
    #app
    script(type='module' src=defaults.NODE_ENV == 'development' ? 'http://localhost:1235/App.js' : '/App.js')
